---
# SSH connection defaults for managed hosts
# Populated after VM provisioning when aleksei user is available
ansible_user: "aleksei"
ansible_password: "{{ lookup('ansible.builtin.pipe', 'vault kv get -field=aleksei_user_pass secret/patroni_dpl') | trim }}"
ansible_become_password: "{{ lookup('ansible.builtin.pipe', 'vault kv get -field=aleksei_user_pass secret/patroni_dpl') | trim }}"
