---
- name: Deploy patroni config for node 1
  template:
    src: "{{ playbook_dir }}/../templates/patroni/patroni_1.yml"
    dest: /etc/patroni.yml
    owner: postgres
    group: postgres
    mode: '0600'
  when: inventory_hostname in [patroni1_hostname, patroni1_hostname ~ '.' ~ domain]

- name: Deploy patroni config for node 2
  template:
    src: "{{ playbook_dir }}/../templates/patroni/patroni_2.yml"
    dest: /etc/patroni.yml
    owner: postgres
    group: postgres
    mode: '0600'
  when: inventory_hostname in [patroni2_hostname, patroni2_hostname ~ '.' ~ domain]

- name: Deploy patroni config for node 3
  template:
    src: "{{ playbook_dir }}/../templates/patroni/patroni_3.yml"
    dest: /etc/patroni.yml
    owner: postgres
    group: postgres
    mode: '0600'
  when: inventory_hostname in [patroni3_hostname, patroni3_hostname ~ '.' ~ domain]

- name: Add postgres shell environment for etcdctl
  blockinfile:
    path: /var/lib/postgresql/.bashrc
    marker: "# {mark} ANSIBLE_ETCD_ENV"
    block: "{{ lookup('template', playbook_dir ~ '/../templates/etcd/.bashrc') }}"
    owner: postgres
    group: postgres
    mode: '0644'
    create: true

- name: Create PostgreSQL directories for Patroni
  file:
    path: "{{ item.path }}"
    state: directory
    owner: postgres
    group: postgres
    mode: "{{ item.mode }}"
  loop:
    - { path: "/pgdata", mode: "0700" }
    - { path: "/pgdata/{{ pg_major_version }}/data", mode: "0700" }
    - { path: "/pgdata/patroni", mode: "0700" }

- name: Ensure pgpass file exists
  file:
    path: /tmp/pgpass
    state: touch
    owner: postgres
    group: postgres
    mode: '0600'

- name: Ensure patroni log file exists
  file:
    path: /pgdata/patroni/patroni.log
    state: touch
    owner: postgres
    group: postgres
    mode: '0640'

- name: Deploy patroni systemd unit
  template:
    src: "{{ playbook_dir }}/../templates/patroni/patroni.service"
    dest: /etc/systemd/system/patroni.service
    owner: root
    group: root
    mode: '0644'
  notify: reload systemd

- name: Configure patroni service start mode
  service:
    name: patroni
    enabled: "{{ patroni_service_enabled }}"
