apiVersion: 1

datasources:
  - name: Zabbix
    type: alexanderzobnin-zabbix-datasource
    access: proxy
    url: https://127.0.0.1/api_jsonrpc.php
    isDefault: true
    editable: true
    jsonData:
      username: Admin
      trends: true
      trendsFrom: "7d"
      trendsRange: "4d"
      cacheTTL: "1h"
      tlsSkipVerify: true
    secureJsonData:
      password: zabbix
