---
- name: Validate environment
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Load project variables
      include_vars:
        file: "{{ playbook_dir }}/../vars.yml"

    - name: Assert required variables are defined
      assert:
        that:
          - vcenter_hostname is defined and vcenter_hostname | length > 0
          - vcenter_username is defined and vcenter_username | length > 0
          - vcenter_password is defined and vcenter_password | length > 0
          - vcenter_datacenter is defined and vcenter_datacenter | length > 0
          - vcenter_template is defined and vcenter_template | length > 0
          - vcenter_esxi_host is defined and vcenter_esxi_host | length > 0
          - patroni_vms is defined and patroni_vms | length == 3
        fail_msg: "One or more required variables are missing in vars.yml"

    - name: Check community.vmware collection is available
      command: ansible-doc -t module community.vmware.vmware_guest
      register: vmware_module_check
      changed_when: false
      failed_when: false

    - name: Fail if community.vmware is not available
      fail:
        msg: >-
          community.vmware collection is required but not found.
          Install it with: ansible-galaxy collection install -r collections/requirements.yml
      when: vmware_module_check.rc != 0

- name: Provision Patroni VMs from vCenter template
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Load project variables
      include_vars:
        file: "{{ playbook_dir }}/../vars.yml"

    - name: Provision VMs
      include_role:
        name: vm_provision
