---
- name: Remove existing Patroni VMs
  community.vmware.vmware_guest:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
    folder: "{{ vcenter_folder }}"
    name: "{{ item.name }}"
    state: absent
    force: true
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost

- name: Clone Patroni VMs from template
  community.vmware.vmware_guest:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
    folder: "{{ vcenter_folder }}"
    name: "{{ item.name }}"
    template: "{{ vcenter_template }}"
    esxi_hostname: "{{ vcenter_esxi_host }}"
    state: poweredon
    guest_id: "{{ vm_guest_id }}"
    wait_for_customization: true
    hardware:
      memory_mb: "{{ vm_ram_mb }}"
      num_cpus: "{{ vm_cpu }}"
      version: "{{ vm_hardware_version }}"
    networks:
      - name: "{{ vcenter_network }}"
        device_type: vmxnet3
        type: static
        ip: "{{ item.ip }}"
        netmask: "{{ vm_netmask }}"
        gateway: "{{ vm_gateway }}"
        dns_servers: "{{ vm_dns_servers }}"
    customization:
      hostname: "{{ item.name }}"
      domain: "{{ domain }}"
    wait_for_ip_address: false
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost

- name: Wait for SSH on Patroni VMs
  wait_for:
    host: "{{ item.ip }}"
    port: 22
    timeout: 600
    delay: 15
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost

- name: Wait for VMware Tools to be running
  community.vmware.vmware_guest_tools_wait:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    name: "{{ item.name }}"
    folder: "{{ vcenter_folder }}"
    datacenter: "{{ vcenter_datacenter }}"
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost

- name: Inject SSH public key via VMware Tools
  community.vmware.vmware_vm_shell:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
    folder: "{{ vcenter_folder }}"
    vm_id: "{{ item.name }}"
    vm_username: "aleksei"
    vm_password: "{{ aleksei_user_pass }}"
    vm_shell: /bin/bash
    vm_shell_args: >-
      -c "mkdir -p ~/.ssh && chmod 700 ~/.ssh &&
      echo '{{ ssh_public_key }}' >> ~/.ssh/authorized_keys &&
      chmod 600 ~/.ssh/authorized_keys"
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost
  when: ssh_public_key is defined

- name: Stop and disable unattended-upgrades via VMware Tools
  community.vmware.vmware_vm_shell:
    hostname: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    validate_certs: "{{ vcenter_validate_certs }}"
    datacenter: "{{ vcenter_datacenter }}"
    folder: "{{ vcenter_folder }}"
    vm_id: "{{ item.name }}"
    vm_username: "aleksei"
    vm_password: "{{ aleksei_user_pass }}"
    vm_shell: /bin/bash
    vm_shell_args: >-
      -c "echo '{{ aleksei_user_pass }}' | sudo -S systemctl stop unattended-upgrades &&
      sudo systemctl disable unattended-upgrades &&
      sudo apt-get remove -y unattended-upgrades &&
      while sudo fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do sleep 5; done"
  loop: "{{ vms_to_provision }}"
  delegate_to: localhost
  register: unattended_result
  retries: 5
  delay: 20
  until: unattended_result is not failed
