---
- name: Deploy etcd config for node 1
  template:
    src: "{{ playbook_dir }}/../templates/etcd/etcd_1"
    dest: /etc/default/etcd
    owner: root
    group: root
    mode: '0644'
  when: inventory_hostname in [patroni1_hostname, patroni1_hostname ~ '.' ~ domain]
  notify: restart etcd

- name: Deploy etcd config for node 2
  template:
    src: "{{ playbook_dir }}/../templates/etcd/etcd_2"
    dest: /etc/default/etcd
    owner: root
    group: root
    mode: '0644'
  when: inventory_hostname in [patroni2_hostname, patroni2_hostname ~ '.' ~ domain]
  notify: restart etcd

- name: Deploy etcd config for node 3
  template:
    src: "{{ playbook_dir }}/../templates/etcd/etcd_3"
    dest: /etc/default/etcd
    owner: root
    group: root
    mode: '0644'
  when: inventory_hostname in [patroni3_hostname, patroni3_hostname ~ '.' ~ domain]
  notify: restart etcd

- name: Ensure etcd service enabled
  service:
    name: etcd
    enabled: "{{ etcd_service_enabled }}"
